#exportPattern("^[[:alpha:]]+")
export(textprep)
export(get_austen_data)
import(dplyr)
import(textclean)
import(magrittr)
import(tidytext)
import(SnowballC)
import(tibble)
import(tm)
import(janeaustenr)
import(hunspell)
import(data.table)
